html{
    background-color: cadetblue
}
#emi{
    font-style: italic;
    text-align: center;
    
}
#ani{
    font-style: italic;
    text-align: center;
}
#areacomun1{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;
}
#areacomun2{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;

}
#areacomun3{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;
    padding: 10px;
    border: 20px azure double;

}
#areacomun4{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;

}
#areacomun5{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;

}
#areacomun6{
    margin: 20px;
    width: 50%;
    padding: 10px;
    border: 20px azure double;

}
