h1{
   text-align: center;
    font-style: italic;
}
p{
    text-align: center;
    font-style: italic;
}
#capa{
    width: 30%;
    padding-left: 520px
}
#ticz{
    text-align: 
    display: inline-block;
 
}

#tics{
    width: 20%;
    float: right;  
}
#info1{
    display: inline-block;
}
h2{
    text-align: center;
    font-style: oblique;
}
p{
    text-align: center;
}