html{
    background-color: cadetblue
}
#tit{
    font-style: italic;
    text-align: center;
}
#ok{
    font-style: italic;
    text-align: center;
}
#cafeb1{
    margin: 5px;
}
#cafe2{
    margin: 5px;
}